<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Preload fucntion">
		<classes>
			<class name="com.test.wrappers.NativeBaseTest"></class>
		</classes>
	</test>
	<test name="Test">
		<classes>
			<class name="com.pod.test.TC001_Login" />
			<class name="com.pod.test.TC002_GetShipmentDetails" />
			<class name="com.pod.test.TC003_StartShipment" />
			<class name="com.pod.test.TC005_DamageReports" />
			<class name="com.pod.test.TC004_UnassignShipment" />
			<class name="com.pod.test.TC006_CompleteShipment" />
			<class name="com.pod.test.TC007_AddShipment_GetShipmentDetails" />
			<class name="com.pod.test.TC008_AddShipment_StartShipment" />
			<class name="com.pod.test.TC010_AddShipment_DamageReports" />
			<class name="com.pod.test.TC009_AddShipment_UnassignShipment" />
			<class name="com.pod.test.TC011_LogOut" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
